html {
  font-size: 16px;
}

// common UIs

.icon-btn {
  color: #6d6d6d;
  cursor: pointer;
  &:hover {
    color: #0090da;
  }
}

.ui.menu.appmenu {
  margin-bottom: 0;
  background: #1b5988;
  box-shadow: 0px 2px 5px 0px rgba(34, 36, 38, 0.33);
  border-radius: 0;
}

.root {

  & > .wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    height: 100vh;
    width: 100vw;

    & > .SplitPane {
      position: static !important;

      & > .Pane {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.api-list-pane {
  display: flex;
  flex-direction: column;

  .toolbar {
    background: #efefef;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    .btn-add-group {
      float: right;
      margin-left: auto;
    }
  }

  .api-groups-list {
    flex-grow: 1;
    overflow-y: auto;

    .ui.styled.accordion {
      border-radius: 0;

      .title{
        .btns {
          display: none;
          float: right;
        }

        &:hover, &.active {
          .btns {
            display: block;
          }
        }

        &.active {
          border-bottom: 1px solid #dedede;
          box-shadow: 0px 1px 4px 0 rgba(34,36,38,.15);
          background: #efefef;
        }
      }

      .content {
        padding: 0;
      }
    }

  }

  .api-spec-list {
    .ui.menu {
      box-shadow: none;
      border-radius: 0;
      border: none;
    }
  }
}

.api-spec-pane {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .request-setting {
    padding: 10px;
    .request-info {
      .spec-field {
        float: left;
        margin: 0;
        height: 36px;
        border-radius: 0;
      }

      .verb-select {
        width: 90px;
        .Select {
          &:focus { outline: none; }
          .Select-control {
            border-radius: 0;
            border-right: none;
          }
        }
      }
      .base-path {
        font-family: monospace;
        padding: 8px 3px;
        border: 1px solid #ccc;;
        border-right: none;
        box-shadow: none;
      }
      .ui.input.path-input input {
        font-family: monospace;
        border: 1px solid #ccc;;
        border-left: none;
        border-radius: 0;
        box-shadow: none;
        width: 300px;
        box-sizing: border-box;
        height: 36px;
        padding-left: 5px;
      }
    }

    .name-input, .btn-save {
      margin-left: 10px;
      height: 36px;
      box-sizing: border-box;
    }
  }

  .response-pane {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;

    .ui.form {
      input[type=text] {
        height: 34px;
        padding: 0.2em 0.8em;
      }
    }

    .response-list {
      width: 210px;
      box-sizing: border-box;
      background: #fafafa;
      padding: 10px;

      .btn-add-resp {
        float: right;
        color: #b9b9b9;
      }

    }

    .response-detail {
      padding: 0 20px;
      flex-grow: 1;
      overflow-y: auto;

      .match-pattern textarea {
        font-family: monospace;
      }

    }
  }

  .ace_editor {
    border: 1px solid #DDD;
    border-radius: 4px;
  }

}

// Revert react select style.
.ui.form .Select-input>input {
  width: 100%;
  background: none;
  border: 0;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: 0;
  line-height: 14px;
  padding: 8px 0 12px;
  -webkit-appearance: none;
}

.Select-menu-outer {
  z-index: 100;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #acacac;
}
