.ui.menu.appmenu {
  margin-bottom: 0;
  background: #1b5988;
  height: 60px;
  box-shadow: 0px 2px 5px 0px rgba(34, 36, 38, 0.33);
}

.root-pane {
  height: 100vh;
  width: 100vw;
  margin-top: 60px;
}
